@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}
.header{
    width: 1440px;
    border: 2px solid;
    margin: 0 auto;
}
.nav{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav ul li{
    font-size: 18px;
}
.header-text{
    text-align: center;
    margin: 114px 0;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
    letter-spacing: 0;
}

.ul{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
}
.rasm{
    width: 393px;
    height: 230px;
}
.kartochka{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 393px;
    height: 396px;
    text-align: center;
    margin-bottom: 60px;
}
.card h2{
    font-size: 28px;
    margin: 10px 0;
}
.card p{
    font-size: 14px;
    color: gray;
}
